sphinx
sphinx-rtd-theme
sphinx-book-theme
sphinx-autodoc-typehints
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx_fontawesome
sphinx-jinja2-compat
sphinx-multiversion
sphinx_rtd_theme
sphinx-toolbox
furo
myst-parser
graphviz
mock
sphinx-autoapi
adam-robotics[all]
idyntree
