name: adam-tests

on:
  push:
  pull_request:
  schedule:
  # * is a special character in YAML so you have to quote this string
  # Execute a "nightly" build at 2 AM UTC
  - cron:  '0 2 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        env:
          ROBOT_DESCRIPTIONS_CACHE: ${{ runner.temp }}/robot_descriptions_cache
        run: |
          python -m pip install --upgrade pip
          pip install .[test]
      - name: Test with pytest
        env:
          ROBOT_DESCRIPTIONS_CACHE: ${{ runner.temp }}/robot_descriptions_cache
          ROBOT_DESCRIPTIONS_URL: https://raw.githubusercontent.com/deepmind/mujoco_menagerie/main
        run: |
          mkdir -p "${ROBOT_DESCRIPTIONS_CACHE}"
          pytest
